

body{
font-size: 16px;
border-style: dashed;
  padding: 0 30px;
  width:80%;
  margin: 0 auto;
}
.intro{

  text-align: center;
}
.contact span{
padding: 0 10px;
font-weight: 500;
}
.work-exp-detail{
  margin-left: 40px;
  text-align: left;
}
.skill span{
padding: 0 20px;
}
.row-flex{
background-color: hsl(0, 0%, 97%);
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:700px) {
  .contact span{
    font-size: 0.7rem;
  }
}